@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --background-input:#1e1e1e;
    --background-container:#171717;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
body{
    height: 100vh;
   position: relative;
   
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 40%;
    
    border-radius: 10px;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    background: var(--background-container);
}
.main-section{
    border-radius: 20px;

    position: relative;
  
}
.search-box{
    width: 50%;
    margin: 0 auto;
   
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--background-input);
    padding: 0.3rem 0;
    border-radius: 6px;
}
.search-icon{
    font-size: 0.9em;
    position: absolute;
    left:15px;

}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;
   
  

}
.city-name{
    font-size: 2em;
    margin-bottom:3px ;
    
}
.weather-state{
    font-size: 1em;
    
    
}
.weather-icon{
    width: 10rem;
    height: 10rem;
}

.temperature{
    font-size: 70px;
    font-weight: 400;
    line-height: 1;
    position: relative;
   
}
.temperature::after{
    content: "o";
    position: absolute;
    font-size: 30px;
    
}
.additional-section{
    border-radius:0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;
    position: relative;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    
}
.item{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;

    color: #FBAB7E;
    background: var(--background-input);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}


.container-index{
    margin-left: 1rem;
}
.label{
    font-weight: 700;
}

.count-down{
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-bottom:40px ;
}
.time{
    padding-left: 5px;
}
.ny{
    display: flex;
    justify-content: center;
}


#search-test{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
    margin-left: 1.5rem;
    font-size: 0.9em;
}
#search-test::placeholder{
    color:rgb(240, 237, 237);
}
#search-results{
    overflow: hidden;
    max-height: 300px;
    color: black;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background: white;
    overflow-y: scroll;
    border-radius: 0.2rem;

    
}
#search-results p{
    cursor: pointer;
  
}
#search-results p:hover{
    cursor: pointer;
    background: #F7CE68;
}



/*START Responsive */
@media (max-width:1280px) {
    .container{
        width: 70%;
    }
}
@media (max-width:936px) {
    .container{
        width: 70%;
    }
}
@media (max-width:768px) {
    .container{
        width: 80%;
    }
    #search-results{
       left: 0;
       transform: translateX(0);
      
    }
    #search-test{
        font-size: 0.7em;
    }
    .search-icon{
        font-size: 0.7em;
    }
    
}
@media (max-width:500px) {
    .search-icon{
        left: 10px;
    }
    #search-test{
        margin-left: 1rem;
    }
    .search-box{
       
        margin: 0;
    }
    
}
/*END Responsive */