@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
body{
    height: 100vh;
   position: relative;
   background: #121114;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 70%;
    margin:  auto;
    border-radius: 20px;
    
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-section{
    border-radius: 20px;
   
  background: #19171a;
    
    


    position: relative;
  
}
.search-box{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.search-icon{
    margin-right: 5px;
    position: absolute;
    left:0;

}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top:80px;
   
    padding-bottom: 25px;

}
.city-name{
    font-size: 2em;
    margin-bottom:3px ;
}
.weather-state{
    font-size: 1em;
}
.weather-icon{
    width: 70px;
    height: 70px;
}
.temperature{
    font-size: 70px;
    font-weight: 400;
    line-height: 1;
    position: relative;
}
.temperature::after{
    content: "o";
    position: absolute;
    font-size: 30px;
    
}
.additional-section{
    border-radius:0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;
    background: white;
    position: relative;
}
.additional-section .row{
    margin-bottom: 5px;
    display: flex;
    
}
.item{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #FBAB7E;
    
    
}
.label{
    font-weight: 700;
}
.info-wrapper{
    margin-top: -30px;
  
}
.count-down{
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-bottom:40px ;
}
.time{
    padding-left: 5px;
}
.ny{
    display: flex;
    justify-content: center;
}


#search-test{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
    margin-left: .5rem;
    font-size: 1em;
}
#search-test::placeholder{
    color:rgb(240, 237, 237);
}
#search-results{
    overflow: hidden;
    max-height: 300px;
    color: black;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background: white;
    overflow-y: scroll;
    border-radius: 0.2rem;

    
}
#search-results p{
    cursor: pointer;
  
}
#search-results p:hover{
    cursor: pointer;
    background: #F7CE68;
}

